.header {
    display: block;
    border-bottom: 1px solid #37a0e8;
}

.b2culture-logo {
    margin-top: 10px;
    height: 80px;
    animation: scaling 5s ease-in-out infinite;
    float: right;
}
  
@keyframes scaling {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}

.menubar {
    background-color: #37a0e8;
    border-top-left-radius: 8px;
    position: relative;
}

a {
    display: inline;
}

li {
    display: inline;
    flex: auto;
}

.row .topbar{
    height: 45px;
}

a.social_icon i {
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #e9a229;
    transition-duration: 1.5s;
}

a.social_icon.login-btn i{
    transform: translateX(-5px);
    transition-duration: 2s;
    animation: loginbtn 2s infinite;
}
a.social_icon.login-btn:hover i {
    opacity: 0;
    transform: translateX(30px);
}

@keyframes loginbtn {
    0% {
        transform: translateX(-30px);
        opacity: 0
    }

    20% {
        opacity: 0;
        transform: translateX(-5px)
    }

    50% {
        opacity: 1;
        transform: translateX(00px)
    }

    100% {
        opacity: 1;
        transform: translateX(00px)
    }
}

a.social_icon.login-btn {
    font: 600 16px/23px Arial;
    color: #e9a229;
}

a.social_icon.login-btn:hover {
    text-decoration: none;
}

.menu {
    text-align: left;
    margin: 0;
}
.menu-btn {
    padding: 20px 13px;
    text-decoration: none;
    text-transform: uppercase;
    font: 600 13px/8px Arial;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
}

.menu-btn:hover {
    color: rgb(212, 255, 23);
    border-bottom: 5px solid #e9a229;
}
.search-form [type=search] {
    padding: 10px 10px;
    width: 89%;
}

.search-container {
    text-align: center;
  }
  
  input[type="text"] {
    display: inline-block;
    margin: 10px 1px;
    padding: 10px 10px;
    border: none;
    width: 60%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff;
  }
  
  button[type="submit"] {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #e9a229;
    border: 1px solid #e9a229;
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
    color: #fff;
  }